<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TecnoBlog.Services.Properties.Settings.TECNOBLOGConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TECNOBLOG;Persist Security Info=True;User ID=sa;Password=ulacit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>